@import "./variables.scss";

.work{
    background-color: $black;
}
.work-main{
    padding-top: 60px;
    position: relative;
    h1{
        font-size: 100px;
        line-height: 150px;
        color: #303030;
        text-align: center;
        letter-spacing: 0.2em;
        position: relative;
        @media(max-width:710px){
            font-size: 70px;
            line-height: 100px;
        }
        &::after{
            content: '';
            position: absolute;
            width: 60px;
            height: 2px;
            background-color: $green;
            top: 100%;
            left: calc(50% - 30px);
        }
    }
    h2{
        position: absolute;
        width: auto;
        font-size: 36px;
        line-height: 44px;
        color: #D9D9D9;
        left: 50%;
        transform: translateX(-50%);
        top: 110px;
        letter-spacing: 0.2em;
        @media(max-width:710px){
            top: 90px;
            width: 100%;
            text-align: center;
        }
    }
    .work-cards{
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        @media(max-width:1180px){
            width: 600px;
            margin: auto;
            margin-top: 90px;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
        }
        @media(max-width:650px){
            width: auto;
        }
        .work-card{
            padding: 24px;
            border-radius: 6px;
            background-color: #252525;
            width: 255px;
            &:hover{
                background-color: $green;
            }
            &:hover>h3 , &:hover>p{
                color: #191919;
            }
            &:hover>h3::after{
                background-color: #191919;
            }
            h3{
                font-size: 22px;
                line-height: 26px;
                color: #fff;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 56px;
                    height: 2px;
                    background-color: $green;
                    top: calc(100% + 10px);
                    left: 0;
                }
            }
            p{
                margin-top: 36px;
                font-size: 13px;
                line-height: 18px;
                color: #fff;
                opacity: 0.5;
            }
        }
    }
}